body {
    background-color: rgb(190, 190, 190);
}

h1 {
    text-align: center;
}

p {
    font-size: larger;
    margin: none;
    text-align: center;
}

#screen {
    display: block;
    margin: auto;
}

#settings {
    display: block;
    width: 50%;
    margin: auto;
}

fieldset {
    font-size: larger;
}

input {
    width: 20em;
    font-size: large;
}