#screen {
    display: block;
    margin: auto;
}

#settings {
    display: block;
    width: 50%;
    margin: auto;
}

#movement_off_warning {
    font-size: larger;
    margin: none;
}

fieldset {
    font-size: larger;
}

input {
    width: 20em;
    font-size: large;
}